.input{
    margin-bottom: 1%;
}

.label{
    width: 150px;
}

.champs{
    width: 50%;
}

.divBtns{
    margin-top: 1%;
}

#delete{
    margin-top: 2%;
}



#dash{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    gap: 2%;
}