.input{
    margin-bottom: 1%;
}

.label{
    width: 150px;
}

.champs{
    width: 50%;
}

.divBtns{
    margin-top: 1%;
}

#delete{
    margin-top: 2%;
}

#card{
    box-shadow: 0 0 70px -20px rgba(0,0,0,0.3);
    transition: all 0.4s;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 100px -25px rgba(0, 0, 0, 0.5);
    transition: all 0.4s;
}

#dash{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    gap: 2%;
}